[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"

[packages]
pygame = "==1.9.6"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
